*{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
    margin:0;
    padding:0;
}
.header{
    background-image: url(images/top_left.png);
    background-repeat: no-repeat;
    height: 150px;
    float: left;
    width:200px;
}
.footer{
    float:right;
    background-image: url(images/bottom_right.png);
    height: 260px;
    width: 200px;
    background-repeat: no-repeat;

}
.footer-text {
    font-size: 40px;
    position: relative;
    top:60px;
    width: 80%;
}
.content{
    padding: 25px;
    
}
.logo{
    height: 400px;
}
.title{
    color: #A71F28;
    font-size: 50px;
}
.subtitle{
    font-size: 40px;
}
.label{
    position: relative;
    top: -7px;
}
.logos{
    border: 1px white dashed;
    height: 200px;
    padding: 10px;
    font-size: 20px;
}
