*{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
    margin:0;
    padding:0;
}
.header{
    background-image: url(images/top_left.png);
    background-repeat: no-repeat;
    height: 150px;
    float: left;
    width:200px;
}
.footer{
    float:right;
    background-image: url(images/bottom_right.png);
    height: 260px;
    width: 200px;
    background-repeat: no-repeat;

}
.footer-text {
    font-size: 40px;
    position: relative;
    top:60px;
    width: 80%;
}
.content{
    padding: 25px;
    
}
.logo{
    height: 400px;
}
.title{
    color: #A71F28;
    font-size: 50px;
}
.subtitle{
    font-size: 40px;
}
.label{
    position: relative;
    top: -7px;
}
.logos{
    border: 1px white dashed;
    height: 100%;
    padding: 10px;
    font-size: 20px;
}

.sponsors{
    /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
    display:inline-block;
    margin:5px 5px;
    padding:5px;
}

#topnav {
    width: 100%;
    background-color: #A71F28;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#topnav a {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 5px 10px;
    background-color: #A71F28;
    transition: background-color 0.5s ease-in-out;
}

#topnav a:hover {
    background-color: #931b23
}

#logo {
    aspect-ratio: 588 / 838;
    height: 50px;
    width: auto;
}