*{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
    margin:0;
    padding:0;
}
.header{
    background-image: url(images/top_left.png);
    background-repeat: no-repeat;
    height: 150px;
    float: left;
    width:200px;
}
.footer{
    float:right;
    background-image: url(images/bottom_right.png);
    height: 260px;
    width: 200px;
    background-repeat: no-repeat;

}
.footer-text {
    font-size: 40px;
    position: relative;
    top:60px;
    width: 80%;
}
.content{
    padding: 25px;
    
}
.logo{
    height: 400px;
}
.title{
    color: #A71F28;
    font-size: 50px;
}
.subtitle{
    font-size: 40px;
}
.label{
    position: relative;
    top: -7px;
}
.logos{
    border: 1px white dashed;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

.sponsors{
    /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
    display:inline-block;
    margin:5px 5px;
    padding:5px;
}

.banner{
    background: #0f4bcb;
    color: white;
    display: inline-block;
    height: 170px;
    width: 140px;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 8px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    box-sizing: border-box;
    margin-right: 50px; 
    margin-left: 50px;
}

.banner::after{
    content: '';
        position: absolute;
        display: block;
        border: 70px solid #0f4bcb;
          border-top-width: 70px;
          border-bottom-color: rgb(15, 75, 203);
          border-bottom-style: solid;
          border-bottom-width: 70px;
        border-top-width: 5px;
        border-bottom: 20px transparent solid;
        top: 100%;
        left: 0;
}

.frcLogo{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 75px;
    max-height: 45px;
}

.bannerTopText{
    display: table;
    width: 100%;
    height: 35px;
    font-weight: bolder;
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-style: italic;
    text-transform: uppercase;
}

.bannerBottomText{
    display: table;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    font-size: 85%;
    line-height: 130%;
}

.firewallImage{
    border-radius: 25px;
    border: 7px solid #A71F28;
}

#topnav {
    width: 100%;
    background-color: #A71F28;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

#topnav a {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 5px 10px;
    background-color: #A71F28;
    transition: background-color 0.5s ease-in-out;
}

#topnav a:hover {
    background-color: #931b23
}

#logo {
    aspect-ratio: 588 / 838;
    height: 50px;
    width: auto;
}