/**
 * Variables used in page theming
 * ------------------------------
 * 
 * Required variables:
 * - text-color - used for normal text
 * - background-color - used for the page background
 * - link-color - used for all links
 * - logo-color - also used for some accents
 * 
 * Optional variables:
 * - table-text-color - used for text inside tables
 *     defaults to 18% lighter than text-color
 * - visited-link-color - used for links that have been visited
 *     defaults to 15% darker than link-color
 */

$light-theme: (
    "text-color":       #111,
    "background-color": #fdfdfd,
    "link-color":       #2a7ae2,
    "logo-color":      #a71f28,
) !default;

$dark-theme: (
    "text-color":         #fdfdfd,
    "background-color":   #111,
    "link-color":         lighten(#2a7ae2, 20%),
    "visited-link-color": lighten(#2a7ae2, 20%),
    "logo-color":        lighten(#a71f28, 15%),
) !default;

@mixin use-theme($theme) {
    :root {
        $defaults: (
            "table-text-color": lighten(map-get($theme, "text-color"), 18%),
            "visited-link-color": darken(map-get($theme, "link-color"), 15%),    
        );

        $vars: map-merge($defaults, $theme);

        @each $prop, $value in $vars {
            --#{$prop}: #{$value};
        }
    }
}



/**
 * Light theme
 */
@media not all and (prefers-color-scheme: dark) {
    @include use-theme($light-theme);
}



/**
 * Dark theme
 */
@media (prefers-color-scheme: dark) {
    @include use-theme($dark-theme);
}
