.logo-standard {
    --color1: var(--logo-color);
}

.logo-grayscale {
    --color1: var(--logo-grayscale-color);
}

.logos {
    border: 1px white dashed;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

.firewallImage{
    border-radius: 25px;
    border: 7px solid #A71F28;
}

#main-logo {
    width: 100%;
    height: auto;
}